.landing-page {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30vh;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  margin: 3em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.nav-button {
  height: 45px;
  width: 200px;
  overflow-wrap: break-word;
}

.new-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#root {
  width: 100%;
  height: 100vh;
}
